// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer{
    text-align: center;
    
    .footer__icon{
        height: 2em;
        width: 2em;
        margin-right: 2.5em;
        fill: $secundary-color;
        
        &:first-of-type{ margin-right: 0; }
        
        &:hover{
            fill: black;
        }
        
    }
    
    .icon--last{ margin-right: 0;}
    
    .footer__icons{
        margin-bottom: 3em;
        
    }
    
    .footer__copyright{
        color: $secundary-color;
        font-size: 0.85em;
        text-align: center;
    }
}
