// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header__phone{
    text-align: center;
}

header{
    .slick-slide{ outline: none; }
}

.header__logo{
    display: inline-block;
    font-size: 2.5em;
    color: $secundary-color;
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.header__logo-icon{
    width: 7em;
    height: 7em;
}

.header__description{
    color: $secundary-color;
    line-height: 1.4em;
    margin-bottom: 2em;
    font-size: 1.5em;
    font-family: $font-light;
    font-weight: 300;
    p{ text-align: left; }
}

.header__logo-part{
    display: flex;
    margin-bottom: 3em;
    margin-top: 6em;
}
.description__download-span{
    color: #555454;
}

.header__buttons{
    margin-bottom: 3em;
    font-size: 1.1em;
}
.header__button{
    width: 9.2em; 
}

.platform-icon{
    fill: $primary-color;
    margin-right: 2.25em;
}

.header__logo,
.header__buttons{
    font-family: $font-regular;
    font-weight: normal;
}

.header__phone{
    .slick-dots{ 
        color: $primary-color;
        bottom: -145px;
    }
}

@media only screen and (max-width: 767px) {
    
    .header__basic{
        text-align: center;
    }
    
    .header__logo-part{
        display: flex;
        justify-content: center;
    }
    header{
        p{  padding: 0 0.5em; }
    }
    .header__description{
        p{ text-align: center; }
    }
    	
}

@media only screen and (max-width: 480px) {
    
    .header__button{
        display: block;
        margin-bottom: 1em;
    }
    
   .marvel-device.iphone5c{
    margin-top: 20px;
    height: 420px;
    width: 237px;
}
    .header__logo-icon{margin-left: 1.4em; }
    .header__logo{ margin-left: 0; }
    	
}