// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


$primary-color: rgb(133, 181, 87);
$secundary-color: rgb(185,185,185);
$primary-color-hover: rgb(116, 181, 54);
$grey-bg: rgb(248,248,249);


$max-width: 1180px;