// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;  
    font-size: 1.1em;
}

.btn--full{
    border: 2px solid $secundary-color;
    background-color: $secundary-color;
    color: white;
    
    margin-left: 1.25em;
    
    &:hover{
        background-color: darkgray;
    }
}

.btn--ghost{
    border: 2px solid $primary-color;
    color: $primary-color;
    text-align: center;
    pointer-events: none;
    cursor: default;
    
    &:hover{
        background-color: $primary-color;
        color: white;
    }
}

@media only screen and (max-width: 1023px) {
    
    .header__button{
        display: block;
    }
    .header__buttons{ text-align: center;}
    .btn--full{ margin-left: 0; }
    .btn--ghost{ margin-bottom: 1em; }
    .header__platform-icons{ text-align: center;}
    
}

@media only screen and (max-width: 480px) {
    
    .btn--full{ margin-left: 0; }
    	
}