
.landing{
    background-color: $primary-color;
    
    p{
        padding: 0 0.5em;
    }
}

.landing__heading{
    color: white;
}

.properties__icons{
    width: 4em;
    height: 4em;
    fill: white;
    margin-bottom: 3.25em;
}

.landing__text{
    color: white;
    margin-bottom: 5em;
    margin-top: 1.25em;
}

.properties__headings{
    color: white;
    font-weight: 200;
    margin-bottom: 1.25em;
}

.properties__text{
    color: white;
    max-width: 13em;
}

.properties__align{
    display: flex;
    justify-content: center;
}

.landing__heading,
.properties__headings{
    font-family: $font-regular;
}

.landing__text,
.properties__text{
    font-family: $font-light;
    font-weight: 300;
}

@media only screen and (max-width: 1023px) {
    
    .properties__text{
        margin-bottom: 2em;
    }
    .properties__icons{
        margin-bottom: 1.5em;
    }
    .landing__text{
        margin-bottom: 2.5em;
    }
}